* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  height: 100vh;
  min-height: 100%;
  width: 100vw;
  min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  display: grid;
  width: 100%;
  grid-template-areas:'tree editor editor editor editor'
                      'tree editor editor editor editor'
                      'tree editor editor editor editor'
                      'footer footer footer footer footer';
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr) 25px;
}

.App-header {
  grid-area: editor;
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}

.tree {
  grid-area: tree;
  background: #61616157;
  overflow-y: scroll;
  max-height: 75vh;
}

.footer {
  grid-area: footer;
  background: #747474;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
